{% extends 'default.html' %}

{% block title %}
    Categories
{% endblock title %}

{% block content %}
    {% load cache %}
    {% cache 2 categories_badges %}
        <div>
            {% for category in all_categories %}
                <a style="text-decoration: none" href="{% url 'advert_cat_list' category.id %}">
                    <span class="badge text-bg-secondary">{{ category }}</span>
                </a>
            {% endfor %}
        </div>
    {% endcache %}
    <br>
    <h3>Количество объявлений в категории "{{ category }}": {{ page_obj.paginator.count }}</h3>
    {% if is_subscriber %}
        <h6>Вы подписаны на категорию "{{ category }}"</h6>
    {% else %}
        <div>
            <a style="text-decoration: none" href="{% url 'subscribe' category.id %}">
                <input title="Рассылка о новых объявлениях в этой категории"
                       class="btn btn-lg btn-light" type="button" value="Подписаться" />
            </a>
        </div>
    {% endif %}
    <br><br><br>
    {% if advert_cat_list %}
        {% for post in page_obj %}
            <div style="display: flex; gap: 1rem;">
                <img src="{{ post.icon.url }}" style="border: 1px solid black; height: 150px; width: 150px;">
                <div style="width: 100%;">
                    <h4><a class="nav-link" href="/advert/{{ post.pk }}">
                        {{ post.title|truncatechars:150 }}
                    </a></h4>
                        <div><b>{{ post.date_creation|date:'d M Y' }}</b></div>
                        <div>Автор: {{ post.user_id.username }}</div>
                    <br>
                    <a style="text-decoration: none;"
                       href="{% url 'advert_cat_list' post.category.id %}">
                        <span class="badge text-bg-secondary">{{ post.category }}</span>
                    </a>
                </div>
            </div>
        <br><br><br>
        {% endfor %}
    {% else %}
        <h4>Извините, объявлений в этой категории сейчас нет!</h4>
    {% endif %}
{% endblock content %}

