{% extends 'default.html' %}

{% block title %}
    My responds
{% endblock title %}

{% block content %}
    <h2>Поиск откликов по объявлениям</h2>
    <br>
    <form action="" method="get">
        <h5>{{ filterset.form.as_p }}</h5>
        <input class="btn btn-secondary" type="submit" value="Найти" />
    </form>
    <br><br>
    <h5>Количество найденых откликов: {{ page_obj.paginator.count }}</h5>
    <br><br>
    {% if responds %}
        {% for respond in page_obj %}

            <h4><a class="nav-link" href="/advert/{{ respond.advert_id.id }}">
                Объявление: {{ respond.advert_id.title}}</a></h4>
            <br>
            <h5>Отклик: {{ respond.content }}</h5>
            <table width="100%">
                <tr>
                    <td width="200"><div>{{ respond.date_creation|date:'d M Y' }}</div>
                        <div>Автор: {{ respond.user_id|truncatechars:20 }}</div>
                    </td>
                    <td align="left">
                        {% if respond.accepted %}
                        <p>Отклик принят</p>
                        {% else %}
                        <form action="" method="post">
                        {% csrf_token %}
                        <a style="text-decoration: none" href="{% url 'accept_respond' respond.id %}">
                            <input class="btn btn-sm btn-light btn-outline-info" type="button" value="Принять" />
                        </a>
                        <a style="text-decoration: none" href="/my_responds/{{ respond.id }}/delete">
                            <input id="deleteButton" class="btn btn-sm btn-light btn-outline-info"
                                   type="button" value="Удалить" />
                        </a>
                        </form>
                        {% endif %}
                    </td>
                </tr>
            </table>

        <br><br><br>
        {% endfor %}
    {% else %}
        <h4>Извините, откликов сейчас нет!</h4>
    {% endif %}

<script>
/*   const deleteBtn = document.getElementById('deleteButton')

    const deleteHandler = () => {
        confirm('Вы действительно хотите удалить этот отклик?')
    }

    document.addEventListener('click', deleteHandler)
*/
</script>
{% endblock content %}

